    <!-- ///////////// Js Files ////////////////////  -->
    <!-- Jquery -->
    <script src="/static/assets/js/lib/jquery-3.4.1.min.js"></script>
    <script src="/static/assets/js/lib/jquery.form.js"></script>
    <!-- Bootstrap-->
    <script src="/static/assets/js/lib/popper.min.js"></script>
    <script src="/static/assets/js/lib/bootstrap.min.js"></script>
    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <!-- Owl Carousel -->
    <script src="/static/assets/js/plugins/owl-carousel/owl.carousel.min.js"></script>
    <!-- jQuery Circle Progress -->
    <script src="/static/assets/js/plugins/jquery-circle-progress/circle-progress.min.js"></script>
    <!-- Base Js File -->
    <script src="/static/assets/js/base.js"></script>
    <script src="/static/assets/js/script.js"></script>

    <div id="toast-success" class="toast-box auth toast-top bg-success">
        <div class="in">
            <div class="text"></div>
        </div>
        <button type="button" class="btn btn-sm btn-text-light close-button">OK</button>
    </div>

    <div id="toast-error" class="toast-box auth toast-top bg-danger">
        <div class="in">
            <div class="text"></div>
        </div>
        <button type="button" class="btn btn-sm btn-text-light close-button">OK</button>
    </div>
</body>

</html>