{% include "components/header.html" %}

    <!-- App Capsule -->
    <div id="appCapsule">

        <div class="appHeader">
            <div class="left">
                <a href="#" class="headerButton">
                    <ion-icon name="chevron-back-outline" role="img" class="md hydrated"
                        aria-label="chevron back outline"></ion-icon>
                </a>
            </div>
            <div class="pageTitle">GYM APP</div>
        </div>

        <div class="section mt-2">
            <div class="profile-head">
                <div class="avatar">

                    <img src="data:image/png;base64, {{ user_data.avatar }}" class="imaged w64 rounded">
                </div>
                <div class="in">
                    <h3 class="name">{{ user_data.first_name }}</h3>
                    <h5 class="subtext">Онлайн</h5>
                </div>
                <div class="profile-settings">
                    <a href="/user/settings" class="btn btn-icon btn-outline-secondary btn-sm">
                        <ion-icon name="settings-outline" role="img" class="md hydrated"></ion-icon>
                    </a>
                </div>
            </div>
        </div>

        <!-- <div class="divider mt-2"></div> -->

        <div class="wide-block section full mt-2">
            <div class="profile-stats pl-2 pr-2 pt-1 pb-1">
                <a href="#" class="item">
                    <strong>{{ user_data.datebirth }}</strong>Возраст
                </a>
                <a href="#" class="item">
                    <strong>{{ user_data.weight }}</strong>Вес
                </a>
                <a href="#" class="item">
                    <strong>0</strong>Очко недели
                </a>

                <a href="#" class="item">
                    <strong>0</strong>Прогресс
                </a>
            </div>
        </div>

        <div class="section full">
            <div class="section-title">История последних тренировок</div>
            <div class="wide-block p-0">

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Дата</th>
                                <th scope="col">Упражнение</th>
                                <th scope="col">Очков</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>15 мин. назад</td>
                                <td>Жим лёжа</td>
                                <td class="text-center">500</td>
                            </tr>
                            <tr>
                                <td>2 часа назад</td>
                                <td>Жим лёжа</td>
                                <td class="text-center">500</td>
                            </tr>
                            <tr>
                                <td>31 декабря в 12:00</td>
                                <td>Жим лёжа</td>
                                <td class="text-center">500</td>
                            </tr>
                            <tr>
                                <td>31 декабря в 12:00</td>
                                <td>Жим лёжа</td>
                                <td class="text-center">500</td>
                            </tr>
                            <tr>
                                <td>31 декабря в 12:00</td>
                                <td>Жим лёжа</td>
                                <td class="text-center">500</td>
                            </tr>
                            <tr>
                                <td>31 декабря в 12:00</td>
                                <td>Жим лёжа</td>
                                <td class="text-center">500</td>
                            </tr>
                            <tr>
                                <td>31 декабря в 12:00</td>
                                <td>Жим лёжа</td>
                                <td class="text-center">500</td>
                            </tr>
                            <tr>
                                <td>31 декабря в 12:00</td>
                                <td>Жим лёжа</td>
                                <td class="text-center">500</td>
                            </tr>
                            <tr>
                                <td>31 декабря в 12:00</td>
                                <td>Жим лёжа</td>
                                <td class="text-center">500</td>
                            </tr>
                            <tr>
                                <td>31 декабря в 12:00</td>
                                <td>Жим лёжа</td>
                                <td class="text-center">500</td>
                            </tr>
                            <tr>
                                <td>31 декабря в 12:00</td>
                                <td>Жим лёжа</td>
                                <td class="text-center">500</td>
                            </tr>
                            <tr>
                                <td>31 декабря в 12:00</td>
                                <td>Жим лёжа</td>
                                <td class="text-center">500</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>


        {% include "components/bottom_menu.html" %}

    </div>
    <!-- * App Capsule -->


    {% include "components/footer.html" %}
