<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">
    <title>GYM APP</title>
    <link rel="icon" type="image/png" href="/static/assets/img/favicon.png" sizes="32x32">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/img/icon/192x192.png">
    <link rel="stylesheet" href="/static/assets/css/style.css">
</head>

<body class="bg-white">

    <!-- loader -->
    <div id="loader">
        <div class="spinner-border text-primary" role="status"></div>
    </div>
    <!-- * loader -->


    <!-- App Capsule -->
    <div id="appCapsule" class="pt-5">

        <div class="login-form mt-5">
            <div class="section mt-1">
                <h1>GYM APP</h1>
                <h4>Регистрация</h4>
            </div>
            <div class="section mt-1 mb-5">
                <form action="/auth/register" method="POST">
                    {% csrf_token %}
                    <div class="form-group boxed">
                        <div class="input-wrapper">
                            <input type="email" name='email' class="form-control" id="email1" placeholder="Email">
                            <i class="clear-input">
                                <ion-icon name="close-circle"></ion-icon>
                            </i>
                        </div>
                    </div>

                    <div class="form-group boxed">
                        <div class="input-wrapper">
                            <input type="password" name="password" class="form-control" id="password1" placeholder="Пароль">
                            <i class="clear-input">
                                <ion-icon name="close-circle"></ion-icon>
                            </i>
                        </div>
                    </div>

                    <div class="form-links mt-2">
                        <div>
                            <a href="/auth/register">Регистрация</a>
                        </div>
                        <div><a href="/auth/forget" class="text-muted">Забыли пароль?</a></div>
                    </div>

                    <div class="form-button-group">
                        <button type="submit" class="btn btn-primary btn-block btn-lg">Зарегистрироваться</button>
                    </div>

                </form>
            </div>
        </div>

        {% if error %}
        <?=$message;?>
        {{ error }}
        {% endif %}
    </div>
    <!-- * App Capsule -->



    <!-- ///////////// Js Files ////////////////////  -->
    <!-- Jquery -->
    <script src="/static/assets/js/lib/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap-->
    <script src="/static/assets/js/lib/popper.min.js"></script>
    <script src="/static/assets/js/lib/bootstrap.min.js"></script>
    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <!-- Owl Carousel -->
    <script src="/static/assets/js/plugins/owl-carousel/owl.carousel.min.js"></script>
    <!-- jQuery Circle Progress -->
    <script src="/static/assets/js/plugins/jquery-circle-progress/circle-progress.min.js"></script>
    <!-- Base Js File -->
    <script src="/static/assets/js/base.js"></script>


</body>

</html>